In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

### Load dataset

In [4]:
true_news = pd.read_csv('True.csv/True.csv')
fake_news = pd.read_csv('Fake.csv/Fake.csv')

In [7]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [9]:
## Add label to the data
true_news['label'] = 1
fake_news['label'] = 0

In [12]:
## Combine both dataset
df = pd.concat([true_news, fake_news], axis=0).reset_index(drop=True)

In [13]:
## Shuffle the dataset
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,title,text,subject,date,label
0,Teen Girl Gets Murder Charges For ‘Killing Mo...,A teenage girl in Oklahoma is being charged as...,News,"May 3, 2016",0
1,Israel ambassador asks to meet New Zealand pop...,WELLINGTON (Reuters) - Israel s ambassador to ...,worldnews,"December 27, 2017",1
2,Turkey's Erdogan: Iraqi Kurds' decision not to...,ANKARA (Reuters) - Iraqi Kurdish leader Massou...,worldnews,"September 15, 2017",1
3,"DAY AFTER DALLAS COPS’ MEMORIAL, Obama Invites...","When America elected a Community Agitator, the...",politics,"Jul 13, 2016",0
4,MICHIGAN STATE POLICE CHIEF Under Fire For Sha...,Has the Left and the leftist media managed to ...,left-news,"Sep 27, 2017",0

## Text Processing

In [ ]:
import re